Q01 ICON "qrk.ico"
Q02 ICON "map.ico"
Q03 ICON "bsp.ico"
Q04 ICON "mdl.ico"
Q05 ICON "pak.ico"
Q06 ICON "cin.ico"
Q07 ICON "pcx.ico"
Q08 ICON "qc.ico"
Q09 ICON "wad.ico"
Q10 ICON "wal.ico"
Q11 ICON "cfg.ico"

8 CURSOR "crossh.cur"
9 CURSOR "linearv.cur"
10 CURSOR "curleft.cur"
11 CURSOR "curright.cur"
12 CURSOR "brush.cur"
13 CURSOR "airbrush.cur"

102 BITMAP "Specifics.bmp"
107 BITMAP "Cb1.bmp"
108 BITMAP "Cb2.bmp"
109 BITMAP "Cb3.bmp"
110 BITMAP "BackTriangle.bmp"

QUARKLOGO BITMAP PRELOAD "QUARKLOGO.bmp"
